/* Hide all the useless stuff (aka everything but seach bar) from the frontpage of youtube */
@-moz-document url(https://www.youtube.com/) {
  div {
    visibility: hidden;
  }
  div #masthead-search-terms {
    visibility: visible;
  }
  table {
    visibility: visible;
  }
}
