@-moz-document url("https://www.youtube.com/") {
/* Hide all the useless stuff from the frontpage of youtube */
div {
    visibility: hidden;
}

ytd-searchbox#search * {
    visibility: visible;
}

ul[role="listbox"] * {
    visibility: visible;
}

}

